<script src="~/Scripts/jquery-1.7.1.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

    //Load the students in the List and displays when the documnet is loaded
    $(document).ready(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: 'api/employee',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponses(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        //Displays in a Table
        function WriteResponses(students) {
            var strResult = "<table class=\"table table-bordered\"><tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Status</th></tr>";
            $.each(students, function (index, employees) {
                strResult += "<tr><td>" + employees.id + "</td><td>" + employees.fname + "</td><td> " + employees.lname + "</td><td>" + employees.email + "</td><td>" + employees.status + "</td></tr>";
            });
            strResult += "</table>";
            $("#divResult").html(strResult);
        }

    });

    //Get a Particular Employees based on ID
    function GetEmployee() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:7937/api/employee/' + document.getElementById('GetId').value,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert('The Employees not found in the List for the given ID');
            }
        });

        function WriteResponse(employees) {
            document.getElementById('DisplayTable').style.visibility = "visible";
            document.getElementById('Updatefname').value =  employees.fname ;
            document.getElementById('Updatelname').value = employees.lname;
            document.getElementById('Updateemail').innerHTML = employees.email;
            document.getElementById('Updatestatus').value = employees.status;
            document.getElementById('UpdateID').value = employees.id;
        }
    }

    //Adds a Employees to the List
    function AddEmployee() {
        var employees={
            fname: document.getElementById('AddFirstName').value,
            lname: document.getElementById('AddLastName').value,
            email: document.getElementById('AddEmail').value,
            id: document.getElementById('AddID').value,
            status:(document.getElementById("myCheck").checked)
        };
        var json = JSON.stringify(employees);
        $.ajax({
            url: 'http://localhost:7937/api/employee/',
            type: 'POST',
            data:json,
            contentType: "application/json;charset=utf-8",
            //dataType:'json',
            success: function (message) {
                alert('Employees added Successfully');
                GetAllEmployees();
            },
            error: function () {
                alert('Employees not Added');
            }
        });
        //$.post("http://localhost:7937/api/employee", {employee:json},function (data) {
        //    alert("hey"+json);
        //});
    }

    //Updates the employees Details in the List
    function PutEmployee() {
        var employees = {
            fname: document.getElementById('Updatefname').value,
            lname: document.getElementById('Updatelname').value,
            status: document.getElementById('Updatestatus').value,
            id: document.getElementById('UpdateID').value,
            email:$("#Updateemail").text()
        };

        $.ajax({
            url: 'http://localhost:7937/api/employee/' + document.getElementById('UpdateID').value,
            type: 'PUT',
            data: JSON.stringify(employees),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Details Updated Successfully');
                GetAllEmployees();
            },
            error: function () {
                alert('Unable to Update for the Given ID');
            }
        });
    }

    function DeleteEmployee() {
        var employees = {
            id: document.getElementById('DeleteID').value
        };

        $.ajax({
            url: 'http://localhost:7937/api/employee/' + document.getElementById('DeleteID').value,
            type: 'DELETE',
            data: JSON.stringify(employees),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Details Deleted Successfully');
                GetAllEmployees();
            },
            error: function () {
                alert('Unable to Delete: Either employee not found or it is a non deactivated employees');
            }
        });
    }


    function GetAllEmployees() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:7937/api/employee',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponses(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        //Displays in a Table
        function WriteResponses(students) {
            var strResult = "<table class=\"table table-bordered\"><th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Status</th>";
            $.each(students, function (index, employees) {
                strResult += "<tr><td>" + employees.id + "</td><td> " + employees.fname + "</td><td>" + employees.lname + "</td><td>" + employees.email +"</td><td>" + employees.status+ "</td></tr>";
            });
            strResult += "</table>";
            $("#divResult").html(strResult);
        }
    }

    //Validation Functions
    @*function ValidateUpdate()
    {
        var fname = document.getElementById('Updatefname');
        var lname = document.getElementById('Updatelname');
        var email = document.getElementById('Updateemail');

        if (fname.value == null || fname.value == "")
            alert("Empty first name");
        if (lname.value == null || lname.value == "")
            alert("Empty last name");
        if (email.value == null || email.value == "")
            alert("Empty femail");
        else
        {
            var reg =/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        //var address = document.getElementById[email].value;
        if (reg.test(email) == false)
        {
            alert('Invalid Email Address');
            return (false);
        }
    }*@


</script>

<h1 style="color: #f00">List of students </h1>
<div class="container">
<div id="divResult" style="margin-left: 15px"></div>
</div>
<div>
    <h1 style="color: #f00">Get an Employee </h1>
</div>

    <h3>Enter the Employees ID:</h3>
    <input class="col-lg-6 form-control"id="GetId" type="text" />
    <span class="col-lg-1"></span>
    <button class="col-lg-2 btn-info" id="GetEmployee" onclick="GetEmployee()">Get Employees</button><br />

    <table id="DisplayTable"  class="table ">
        <tr>
            <td>
                <span>First Name</span>
            </td>
            <td><input class="form-control" type="text" id="Updatefname"/></td>
        </tr>
        <tr>
            <td>
                <span>Last Name</span>
            </td>
            <td><input class="form-control" type="text" id="Updatelname"/></td>
        </tr>
        <tr>
            <td>
                <span>Email</span>
            </td>
            <td><span id="Updateemail" /></td>
        </tr>
        <tr>
            <td>
                <span>Status</span>
            </td>
            <td><input class="form-control" type="text" id="Updatestatus"/></td>
        </tr>
        <tr>
            <td>
                <span>ID</span>
            </td>
            <td><input class="form-control" type="text" id="UpdateID" /></td>
        </tr>
        </table>
       <span class="col-lg-4"></span>
         <button class="btn-info id="putEmployee" onclick="PutEmployee()">Update Employees</button>
        
 
<div>
    <h1 style="color: #f00">Add an Employee </h1>
    <table style="margin-left: 15px" class="table">
        <tr>
            <td><span>Name</span></td>
            <td>
                <input class="form-control" id="AddFirstName" type="text" />
            </td>
        </tr>
        <tr>
            <td><span>Last name</span></td>
            <td>
                <input class="form-control" id="AddLastName" type="text" />
            </td>
        </tr>
        <tr>
            <td><span>ID</span></td>
            <td>
                <input class="form-control" id="AddID" type="text" />
            </td>
        </tr>

        <tr>
            <td><span>Email</span></td>
            <td>
                <input class="form-control" id="AddEmail" type="text" />
            </td>
        </tr>
        <tr>
            <td><span>Status</span></td>
            @*<td><input type="checkbox" id="status" /></td>*@
            <td><input type="checkbox" id="myCheck"></td>
        </tr>
    </table>
        <span class="col-lg-4"></span>
                <button class="btn-info" id="postEmployee" onclick="AddEmployee()">Add New Employees</button></td>
        
</div>
<div>
<h1 style="color: #f00">Delete an Employee</h1>
</div>
<div>
    <h3>Enter the Employees ID:</h3>
    <input class="col-lg-6 form-control" id="DeleteID" type="text" />
    <span class="col-lg-1"></span>
    <button class="col-lg-2 btn-info" id="GetEmployee" onclick="DeleteEmployee()">Delete Employee</button>
</div>